<a href="javascript:void(0)">
    <a style="margin-right: 10px;" href="javascript:void(0)" class="publish_content">发布内容</a>
    <img class="icon-img" src="<%= upload_img %>" alt="添加图片"/>
    <span style="margin-left: 10px;" class="upload_img_text"><%=img_text %></span>
</a>
<input id="form-file" class="ui-file-input" name="send_image" type="file"
       onchange="previewImage(this)">
<input id="send-image-url" name="send_image_url" type="hidden">
