<div class="row">
    <div class="col-md-12">
        <form id="form_update_remarks" class="form-horizontal">
            <input type="hidden" id="eo-trade-no" value="<%= eo_trade_no %>"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>

                <div class="col-sm-9 form-group">
                    <textarea class="form-control" id="eo-remarks" rows="3"
                              placeholder="备注"><%= eo_remarks %></textarea>
                </div>
            </div>
        </form>
    </div>
</div>