<div class="row">
    <div class="col-md-12">
        <form id="form_excel" class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">日期</label>

                <div class="col-md-7">
                    <input type="text" class="form-control input-md" name="date_range" placeholder="请选择日期" id="excel-date">
                    <span class="help-block data-range-error"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">名称</label>

                <div class="col-md-7">
                    <input type="text" class="form-control input-md" name="excel_name" placeholder="导出的Excel名称">
                    <span class="help-block excel-name-error"></span>
                </div>
            </div>
        </form>
    </div>
</div>