<li class="img-item js-img-item" id="<%= ad_id %>">
    <label class="">
        <video controls preload="metadata" src="<%= ad_url %>" id="<%= ad_id %>" alt="" class="item"></video>
            <div class="selected-mask">
                <div class="selected-mask-inner"></div>
                <div class="selected-mask-icon"></div>
            </div>
    </label>
</li>