<label class="col-sm-2 control-label">选择设备</label>
<div class="col-sm-7 some-select">
    <label class="radio-inline">
        <input type="radio" name="device_type" value="1" checked="checked"> 油烟机
    </label>
    <label class="radio-inline">
        <input type="radio" name="device_type" value="2"> 集成灶
    </label>
</div>