<label class="col-sm-2 control-label">选择设备</label>
<div class="col-sm-8 some-select">
    <div class="table-top-style">
        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="请输入设备编号"
                   id="txt-device-id"/>
        </div>
        <input type="button" value="筛选" id="btnFilter" class="btn btn-primary"/>
    </div>
    <table id="table"></table>
    <div class="table-paginator">
        <div id="paginator"></div>
    </div>
</div>