<!DOCTYPE html>
<html lang="en" ng-app="ngShowcaseApp">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
	<!-- <meta http-equiv="refresh" content="1"> -->
</head>
<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<body ng-controller="ctrl">
	<div ng-class="{progress: true, 'progress-striped': vm.striped}">
        <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
            <div ng-if="vm.showLabel">{{ vm.value }}%</div>
        </div>
    </div>
    	<div class='col-md-12'>
		<h1 style="text-align:center">BLOG</h1>
		<form method="get" action="">
			<table class='col-md-9'>
				<tr>
					<td>标题:</td>
					<td><input type="text" name="title" /></td>
					<td>作者:</td>
					<td><input type="text" name="author" /></td>
					<td><input type="submit" value="查询"></td>
					<td colspan="5" style="text-align:right"><input type="submit" value="导出" id="id_output" name="out_file" /></td>
				</tr>
			</table>
		</form>
		<table class='col-md-9'>
			<thead>
				<tr>
					<th style="width:20%">标题</th>
					<th style="width:20%">作者</th>
					<th style="width:20%">访问次数</th>
					<th style="width:20%">发表时间</th>
					<th style="width:20%">操作</th>
				</tr>
			</thead>
			<tbody>
				{% for b in contacts %}
				<tr>
					<td><a href="{% url 'showBlog' b.id %}">{{ b.title }}</a></td>
					<td>{{ b.author.name }}{{ b.author.headImg }}</td>
					<td>{{ b.counter }}</td>
					<td>{{ b.pubDate }}</td>
					<td>
						<a href="/edit_blog/{{ b.id }}"><input type='button' value="修改"></a>
						<a href="/delete_blog/{{ b.id }}" onclick="javascript:return confirm('确定要删除吗？')"><input type='button' value="删除"></a>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="5" align="right">
						<span class="step-links">
							{% if contacts.has_previous %}
								<a href="?page={{ contacts.previous_page_number }}">上一页</a>
							{% endif %}
							<span class="current">
								Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
							</span>
							{% if contacts.has_next %}
								<a href="?page={{ contacts.next_page_number }}">下一页</a>
							{% endif %}
						</span>
					</td>
				</tr>
				<tr><td colspan="5" style="text-align:right;"><a href="/add_blog"><input type='button' value="添加博客"></a></td></tr>
				<tr><td colspan="5" style="text-align:right;"><a href="/author"><input type='button' value="作者列表"></a></td></tr>
			</tbody>
		</table>
	</div>
    <h3>选项</h3>
    <label>进度：<input type="number" class="form-control" ng-model="vm.value"/></label>
    <button class="btn btn-primary" ng-click="vm.value=0">0%</button>
    <button class="btn btn-primary" ng-click="vm.value=20">20%</button>
    <button class="btn btn-primary" ng-click="vm.value=60">60%</button>
    <button class="btn btn-primary" ng-click="vm.value=100">100%</button>
    <hr/>
    <label>斑马纹<input type="checkbox"  ng-model="vm.striped"/></label>
    <label>文字<input type="checkbox" ng-model="vm.showLabel"/></label>
    <hr/>
    <label>风格：
        <select ng-model="vm.style" class="form-control">
            <option value="progress-bar-success">progress-bar-success</option>
            <option value="progress-bar-info">progress-bar-info</option>
            <option value="progress-bar-danger">progress-bar-danger</option>
            <option value="progress-bar-warning">progress-bar-warning</option>
        </select>
    </label>
<script src="{% static 'angularjs/angular.js' %}"></script>
<script>
	$(window).on('beforeunload', function(event) {
    	storeChangeRealTime();
	});
	'use strict';

    angular.module('ngShowcaseApp',[]).controller('ctrl', function ($scope) {
        var vm = $scope.vm = {};
        vm.value = 0;
        vm.style = 'progress-bar-info';
        vm.showLabel = true;
        vm.striped = true;
    });
</script>
</body>
</html>